{% extends 'base.html.twig' %}

{% block title %}Mes jeux{% endblock %}

{% block body %}
<p>Mes produits</p>
	<style>
		body {
			background-image: url('/style/product2.jpg');
		}
	</style>
	<div class="container">
		<div class="row mt-5 gy-3">

{% for product in products %}
			
				<div class="col-lg-4 col-md-6 col-12">
					<div class="card ">
						<img class="card-img-top" src="https://picsum.photos/398/224" alt="Card image cap">
						<div class="card-body bg-black">
							<p class="card-text txt">{{ product.name }}</p>
							<a href="{{ path("app_product", { product: product.id }) }}" class="btn btn-primary mt-0 mb-3 mx-auto">{{ product.price }}</a>
						</div>
					</div>
				</div>
{% endfor %}
		</div>
	</div>
{% endblock %}
