
<div class="container color navtest">
  <a href="{{path('app_catalogue')}}">HOME</a>
  <a href="{{path('app_category')}}">GAMES</a>
  <a>SPECIAL OFFERS</a>
  <a>SUPPORT</a>
  <a href="{{path('app_cart')}}">CART</a>



