{% extends 'base.html.twig' %}

{% block title %}test php{% endblock %}

{% block body %}
<div class="container">
    {% for category in categories %}
        <div class="row">
            <h1 class=" text-danger mt-5 mb-5 pt-5 pb-5">{{category.name}}</h1><br>
        </div>
    {% endfor %}
</div>
{% endblock %}
