{% extends 'base.html.twig' %}

{% block title %}e_Web_Game{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<style>
		body {
			background-image: url('/style/product2.jpg');
		}
	</style>
	<div class="container">
		<div class="row mt-5 gy-3">
			{% for category in categories %}
				<div class="col-lg-4 col-md-6 col-12">
					<div class="card ">
						<img class="card-img-top" src="https://picsum.photos/398/224" alt="Card image cap">
						<div class="card-body bg-black">
							<p class="card-text txt">{{ category.description }}</p>
							<a href="{{ path("app_product", { category : category.id}) }}" class="btn btn-primary mt-0 mb-3 mx-auto">{{ category.name }}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
